body {

}

.main-contents {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	width: 800px;
}

.showList {
	padding: 1em 0 3em 2em;
	margin: 2em 0;
	font-weight: bold;
	border: solid 3px #000000;
	border-radius: 10px;
	background-color: white;
}

.completed {
	padding-bottom: 3em;

	background: #ffff80;
	clear:left;
}

.notCompleted {
	box-sizing: border-box;
	margin: 2em 0;
    width: 600px;
	clear:left;
}
.completed .item{
	float: left;
}

.notCompleted .item{
	float: left;
}

.copyright {
	width: 250px;
	margin: 0 auto;
	font-family: Yu Mincho;
}

.errorMessages {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	padding: 10px 15px;
	margin: 30px 0;
	color: #666666;
	background: #ffb3b3;
	border-left: solid 10px #ff0000;
}